ion-menu-button {
  color: var(--ion-color-secondary);
}

ion-header {
  ion-toolbar {
    // set background color
    --background: #000E1D;
    // set icon/text color
    --color: #ffffff;
    border-bottom: 1px solid #ffffff41;
    padding:5px 0px 5px 15px;
  }
}

ion-content{
  --offset-top: 50%;
  ion-header {
    ion-toolbar{
      padding: 0px;
      ion-img{
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
      h2{
       font-family: Cinzel;
       position: absolute;
       z-index: 2;
       top: 20%;
       left: 30%;
      }
    }
  }
}

ion-grid#accounts{
  padding: 0px;
}

ion-content{
  --background:var(--ion-color-primary)
}

ion-list#content{
  --inner-padding-end:0px;
  ion-item{
    --inner-padding-end:0px;
  }
}

ion-grid{
  background-color: #000E1D;
  padding-left: 15px;
  padding-right: 15px;
  ion-row#btn-account{
    ion-col{
      padding: 10px;
      button{
        width: 100%;
        padding: 17px 10px;
        font-size: 4vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: var(--ion-color-primary);
        border: 1px solid var(--ion-color-secondary);
        color: var(--ion-color-secondary);
        border-radius: 5px;
        text-transform: capitalize;
        font-size: Roboto;
        font-weight: 400;
      }
    }
  }

  ion-row#content-account{
    padding: 0px;
    ion-col{
    padding: 0px;
    &:nth-child(1), &:nth-child(3),
    &:nth-child(2), &:nth-child(4),
    &:nth-child(5), &:nth-child(6){
      padding-top: 10px;
      padding-left: 5px;
    }
      div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        border: 1px solid var(--ion-color-primary-tint);
        border-radius: 5px;
        width: 100%;
        span{
          color: var(--ion-color-secondary);
          font-size: 14px;
          font-weight: 400;
          font-family: Roboto;
        }
        h3{
          color: var(--ion-color-primary-contrast);
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto;
          margin-top: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }

  ion-row#inner-wrap{
    border: 1px solid var(--ion-color-primary-tint);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  ion-row#characters-account{
    ion-col.card-wrapper{
        padding: 0px;
    }
  }

  ion-row#characters-account{
    width: 100vw;
    margin-top: 20px;
    ion-col{
      ion-row{
        ion-col{
          h5{
            font-size: 14px;
            margin-bottom: 7px;
          }
          ion-row{
            ion-col#lvl{
              padding-left: 15px;
            }
          }
          span{
            font-size: 13px;
            color: var(--ion-color-primary-shade);
            margin-bottom: 10px;
          }
          div{
            ion-row{
              ion-col{
                &:nth-child(1){
                  ion-row{
                    ion-col{
                      padding: 0px;
                    }
                  }
                  span{
                    font-size: 11px;
                  }
                }
              }
              ion-col#stamina{
                // health bar background gray
                div{
                  height: 5px;
                  width: 100%;
                  background-color: var(--ion-color-primary-tint);
                  div{
                    position: absolute;
                    width: 80%;
                    height: 5px;
                    background-color: var(--ion-color-secondary);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



ion-item#staked-details{
  p,span{
    font-size: 13px;
  }
   span{
     color: var(--ion-color-secondary);
   }

   ion-row{
     width: 100vw;
     background-color: #18202F;
     border: 1px solid var(--ion-color-primary-tint);
     padding: 17px;
     border-radius: 5px;
     ion-col{
       &:nth-child(2){
        p#view-less{
          margin-top: 20px;
          color: #fff;
          font-size: 14px;
          text-align: center;
        }
       }
     }
   }
}

.fire{
  content: url('../../../assets/accounts/elements/icon-fire.svg');
  height: 20px;
  width: 20px;
}

.earth{
  content: url('../../../assets/accounts/elements/icon-earth.svg');
  height: 20px;
  width: 20px;
}

.lightning{
  content: url('../../../assets/accounts/elements/icon-lightning.svg');
  height: 20px;
  width: 20px;
}

.water{
  content: url('../../../assets/accounts/elements/icon-water.svg');
  height: 20px;
  width: 20px;
}

ion-toolbar{
  ion-img{
    width: 7em;
  }
}

ion-toolbar{
  span{
    content: url('../../../assets/bsc.svg');
    width: 1.2em;
    height: 1.3em;
  }
}


ion-header#header-inner {
  ion-toolbar{
    padding: 0px;
    --background: var(--ion-color-primary);
    ion-img{
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
    h2{
     font-family: Cinzel;
     position: absolute;
     z-index: 3;
     color: #fff;
     top: 20%;
     left: 30%;
    }
  }
}

#container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"]{
  --background: var(--ion-color-primary);
  --color:var(--ion-color-secondary);
}

div{
  ion-icon{
    padding-left: 10px;
    font-size: 13px;
  }
}

ion-accordion.accordion-expanding [slot="content"],
ion-accordion.accordion-expanded [slot="content"]{
  --ion-item-background: var(--ion-color-primary);
  --ion-item-color:#fff;
}


ion-accordion ion-item[slot="header"]{
  --background: var(--ion-color-primary);
  --color:var(--ion-color-secondary);
}

ion-footer{
  ion-toolbar{
    --background: var(--ion-color-primary);
    border-top: 1px solid var(--ion-color-primary-tint);
    overflow: visible;
    ion-tabs{
      overflow: visible;
      ion-tab-bar{
        overflow: visible;
        padding: 0px 20px;
        --background: var(--ion-color-primary);
        ion-tab-button{
          overflow: visible;
          ion-icon{
            font-size: 20px;
          }
        }
      }
    }
  }
}

#sword-loading{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  span{
    margin: 20px;
  }

  #sword-loader{
    content: url('../../../assets/sword-loader.svg');
    height: 20%;
    margin-top: 50%;
    transform: translateX(50px);
    width: 20%;
    animation: rotateClockwise 2s linear infinite;
  }
  #sword-loader2{
    content: url('../../../assets/sword-loader.svg');
    height: 20%;
    margin-top: 50%;
    transform: translateX(50px);
    width: 20%;
    animation: rotateClockwise 2s linear infinite;
    animation-delay: 0.5s;
  }
  #sword-loader3{
    content: url('../../../assets/sword-loader.svg');
    height: 20%;
    margin-top: 50%;
    transform: translateX(50px);
    width: 20%;
    animation: rotateClockwise 2s linear infinite;
    animation-delay: 1s;
  }
}

ion-skeleton-text{
  // --background: var(--ion-color-secondary);
  --background-rgb: var(--ion-bg-color-rgb);
}

.custom-skeleton ion-list ion-item{
  --background: var(--ion-color-primary);
}

.custom-skeleton{
  background-color: var(--ion-color-primary);
  ion-list{
    background-color: var(--ion-color-primary);
    ion-item{
      --border-color: var(--ion-color-primary);
    }
  }
}

@keyframes rotateClockwise {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.5;
    height: 5%;
    width: 5%;
  }
  50%{
    height: 10%;
    width: 10%;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 1;
    opacity: 0.5;
    height: 5%;
    width: 5%;
  }
}
