ion-menu-button {
  color: var(--ion-color-secondary);
}

ion-header {
  ion-toolbar {
    // set background color
    --background: #000E1D;
    // set icon/text color
    --color: #ffffff;
    border-bottom: 1px solid #ffffff41;
    padding:5px 0px 5px 15px;
  }
}

ion-content{
  ion-header {
    ion-toolbar{
      padding: 0px;
      ion-img{
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
      h2{
       font-family: Cinzel;
       position: absolute;
       z-index: 2;
       top: 20%;
       left: 30%;
      }
    }
  }
}

ion-grid#dashboard{
  padding: 0px;
  padding-top: 2em;
}

ion-content{
  --background:var(--ion-color-primary)
}

ion-grid{
  ion-row{
    background-color: #000E1D;
    padding-left: 10px;
    padding-right: 10px;
    ion-col{
      padding: 10px;
      div{
        display: flex;
        flex-direction: column;
        justify-content:left;
        padding: 10px 10px;
        border: 1px solid var(--ion-color-primary-tint);
        border-radius: 5px;
        ion-row{
          padding-right: 0px;
          ion-col{
            padding-left: 0px;
            #king-icon{
              content: url('../../../assets/accounts/king.png');
              height: 4.5em;
              width: 4.5em;
            }

            &:nth-child(2){
              ion-row{
                ion-col{
                  border: none;
                  &:nth-child(1){
                    border-bottom: 1px solid rgb(56, 56, 56);
                    padding-left: 0px;
                    p#main-title{
                      font-size: 1em;
                      color: var(--ion-color-secondary);
                    }
                    p#sub-title{
                      font-size: 0.8em;
                      color: var(--ion-color-primary-shade);
                    }
                  }
                  text-align: left;
                  &:nth-child(2){
                    border: none;
                    padding: 0px;
                    font-family: Roboto;
                    p#king{
                      margin-top: 1em;
                      margin-bottom: 0.6em;
                      color: var(--ion-color-secondary);
                      span{
                        color: #fff;
                      }
                    }
                    ion-row{
                      padding: 0px;
                      ion-col{
                        padding: 5px;
                        border: none;
                        div{
                          p#skill-king{
                            font-size: 12px;
                          }
                          span{
                            font-size: 13px;
                            color: #fff;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

ion-col#progress-bar{
  border-bottom: 1px solid var(--ion-color-primary-tint);
  padding-bottom: 1.5em;
  padding-left: 5px;
  div{
    border: none;
    padding: 0px;
    border-radius: 10px;
  }
  span{
    border-radius: 10px;
    height: 7px;
    width: 100%;
    border: 1px solid var(--ion-color-primary-tint);
    span{
      height: 8px;
      position: absolute;
      background-color: var(--ion-color-secondary);
    }
  }
  p#claimable{
    font-size: 0.7em;
    text-align: center;
    margin-top: 5px;
    font-family: Roboto;
  }
}

ion-col#king-description{
  padding-top: 1em;
  p#description{
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: justify;
  }
}

ion-toolbar{
  ion-img{
    width: 7em;
  }
}

ion-toolbar{
  span{
    content: url('../../../assets/bsc.svg');
    width: 1.2em;
    height: 1.3em;
  }
}


ion-header#header-inner {
  ion-toolbar{
    padding: 0px;
    --background: var(--ion-color-primary);
    ion-img{
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
    h2{
     font-family: Cinzel;
     position: absolute;
     z-index: 3;
     color: #fff;
     top: 20%;
     left: 16%;
    }
  }
}

#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-footer{
  ion-toolbar{
    --background: var(--ion-color-primary);
    border-top: 1px solid var(--ion-color-primary-tint);
    overflow: visible;
    ion-tabs{
      overflow: visible;
      ion-tab-bar{
        overflow: visible;
        padding: 0px 20px;
        --background: var(--ion-color-primary);
        ion-tab-button{
          overflow: visible;
          // &:nth-child(3){
          //   overflow: visible;
          //   --background: var(--ion-color-primary);
          //   margin-top: -50px;
          // }
          ion-icon{
            font-size: 20px;
          }
        }
      }
    }
  }
}
