<app-header [headerTitle]="headerTitle" [subHeaderBg]="headerBg"></app-header>
<ion-content>
  <div id="container">
    <ion-grid id="dashboard">
      <ion-row>
        <ion-col size="6">
          <div>
            <span>SKILL Price (USD)</span>
            <h3>$5.17</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>HT Price</span>
            <h3>$9.27</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Next Reset</span>
            <h3>57ms and 47s</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Rewards Pool</span>
            <h3>0</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Skill Multiplier</span>
            <h3>0.00</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Hourly Fights</span>
            <h3>0</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Hourly Power Average</span>
            <h3>0</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Hourly Total Power</span>
            <h3>0</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
