<ion-menu side="start" menuId="first" contentId="main" >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-img src="../../assets/cbt-logo.png"></ion-img>
    </ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-item fill="outline" part="">
          <ion-label>USD</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
            <ion-select-option part="item-menu" value="10">10</ion-select-option>
            <ion-select-option part="item-menu" value="50">50</ion-select-option>
            <ion-select-option part="item-menu" value="100">100</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item fill="outline">
          <ion-label>BNB</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
            <ion-select-option part="item-menu" value="10">10</ion-select-option>
            <ion-select-option part="item-menu" value="50">50</ion-select-option>
            <ion-select-option part="item-menu" value="100">100</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateTo('dashboard')">
        <ion-icon [src]="activeTab ==='dashboard' ? '../../assets/home.svg' : '../../assets/home-active.svg'"></ion-icon>
        <ion-label [style]="activeTab ==='dashboard' ? 'color:#fff' : 'color:#7F8693'">Home</ion-label>
      </ion-item>
      <ion-item (click)="navigateTo('account')">
        <ion-icon [src]="activeTab ==='account' ? '../../assets/active-icons.svg' : '../../assets/Icons.svg'"></ion-icon>
        <ion-label [style]="activeTab ==='account' ? 'color:#fff' : 'color:#7F8693'">Accounts</ion-label>
      </ion-item>
      <ion-item (click)="navigateTo('calculator')">
        <ion-icon [src]="activeTab ==='calculator' ? '../../assets/active-calculator.svg' : '../../assets/calculator.svg'"></ion-icon>
        <ion-label [style]="activeTab ==='calculator' ? 'color:#fff' : 'color:#7F8693'">Rewards Calculator</ion-label>
      </ion-item>
      <ion-item (click)="navigateTo('stats')">
        <ion-icon [src]="activeTab ==='stats' ? '../../assets/active-chart.svg' : '../../assets/pie-graph.svg'"></ion-icon>
        <ion-label [style]="activeTab ==='stats' ? 'color:#fff' : 'color:#7F8693'">Cryptoblades Stats</ion-label>
      </ion-item>
      <ion-item (click)="navigateTo('options')">
        <ion-icon [src]="activeTab ==='options' ? '../../assets/active-tools.svg' : '../../assets/settings.svg'"></ion-icon>
        <ion-label [style]="activeTab ==='options' ? 'color:#fff' : 'color:#7F8693'">Diagnostic</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
