<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-img id="cbt-logo" src="../../../assets/cbt-logo.svg"></ion-img>
    <span class="bsc-logo" slot="end"></span>
    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-icon [src]="burgerMenu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header id="header-inner" [translucent]="true" slot="start">
  <ion-toolbar id="content-header">
    <h2>OPTIONS</h2>
    <ion-img id="cbt-logo" src="../../../assets/dungeon.jpg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Select Chain</ion-label>
    <ion-select placeholder="Select Network" [(ngModel)]="_chain">
      <ion-select-option value="BSC">Binance Smart Chain</ion-select-option>
      <ion-select-option value="HECO">HECO Chain</ion-select-option>
      <ion-select-option value="OEC">OKEx Chain</ion-select-option>
      <ion-select-option value="POLYGON">Polygon</ion-select-option>
      <ion-select-option value="AVAX">Avalanche</ion-select-option>
      <ion-select-option value="AURORA">Aurora</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Currency</ion-label>
    <ion-select placeholder="Select Currency" [(ngModel)]="_currentCurrency">
      <ion-select-option *ngFor="let cur of _currencies" [value]="cur">{{cur.toUpperCase()}}</ion-select-option>
    </ion-select>
  </ion-item>
  <button (click)="saveOptions()">Save</button>
</ion-content>

