<app-header [headerTitle]="headerTitle" [subHeaderBg]="headerBg"></app-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Select Chain</ion-label>
    <ion-select placeholder="Select Network" [(ngModel)]="_chain">
      <ion-select-option value="BSC">Binance Smart Chain</ion-select-option>
      <ion-select-option value="HECO">HECO Chain</ion-select-option>
      <ion-select-option value="OEC">OKEx Chain</ion-select-option>
      <ion-select-option value="POLYGON">Polygon</ion-select-option>
      <ion-select-option value="AVAX">Avalanche</ion-select-option>
      <ion-select-option value="AURORA">Aurora</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Currency</ion-label>
    <ion-select placeholder="Select Currency" [(ngModel)]="_currentCurrency">
      <ion-select-option *ngFor="let cur of _currencies" [value]="cur">{{cur.toUpperCase()}}</ion-select-option>
    </ion-select>
  </ion-item>
  <button (click)="saveOptions()">Save</button>
</ion-content>

