<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-img id="cbt-logo" src="../../../assets/cbt-logo.svg"></ion-img>
    <span class="bsc-logo" slot="end"></span>
    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-icon [src]="burgerMenu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header id="header-inner" [translucent]="true" slot="start">
  <ion-toolbar id="content-header">
    <h2>DIAGNOSTIC</h2>
    <ion-img id="cbt-logo" src="../../../assets/dungeon.jpg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Select Chain</ion-label>
    <ion-select placeholder="Select Network" value="BNB">
      <ion-select-option value="BNB">Binance</ion-select-option>
      <ion-select-option value="HECO">HECO Chain</ion-select-option>
      <ion-select-option value="OEC">OKEx Chain</ion-select-option>
      <ion-select-option value="POLYGON">Polygon</ion-select-option>
      <ion-select-option value="AVAX">Avalanche</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Currency</ion-label>
    <ion-select placeholder="Select Currency" value="usd">
      <ion-select-option value="usd">USD</ion-select-option>
      <ion-select-option value="gbp">GBP</ion-select-option>
      <ion-select-option value="eur">EUR</ion-select-option>
      <ion-select-option value="php">PHP</ion-select-option>
      <ion-select-option value="aud">AUD</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select placeholder="Select Currency" value="usd">
      <ion-select-option value="usd">Character</ion-select-option>
      <ion-select-option value="gbp">Weapon</ion-select-option>
      <ion-select-option value="eur">Shield</ion-select-option>
      <ion-select-option value="php">Armor</ion-select-option>
      <ion-select-option value="aud">Trinket</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>NFT ID</ion-label>
    <p slot="end">139704</p>
  </ion-item>
  <button>Run</button>
</ion-content>

