<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="people"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="treasury">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Treasury</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="options">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Options</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
