
<ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" edge>
    <ion-fab-button (click)="gotoDashBoard()" (click)="selectedTab('')">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account" (click)="selectedTab('account')">
      <ion-icon *ngIf="activeTab === 'account'" src="../../assets/active-icons.svg" color="blue"></ion-icon>
      <ion-icon *ngIf="activeTab !== 'account'" src="../../assets/Icons.svg" color="blue"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calculator" (click)="selectedTab('calculator')">
      <ion-icon *ngIf="activeTab === 'calculator'" src="../../assets/active-calculator.svg"></ion-icon>
      <ion-icon *ngIf="activeTab !== 'calculator'" src="../../assets/calculator.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
    </ion-tab-button>

    <ion-tab-button tab="treasury" (click)="selectedTab('treasury')">
      <ion-icon *ngIf="activeTab === 'treasury'" src="../../assets/active-treasure.svg"></ion-icon>
      <ion-icon *ngIf="activeTab !== 'treasury'" src="../../assets/treasure.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="options" (click)="selectedTab('options')">
      <ion-icon *ngIf="activeTab === 'options'" src="../../assets/active-tools.svg"></ion-icon>
      <ion-icon *ngIf="activeTab !== 'options'" src="../../assets/settings.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
