<div id="modal-content">
  <ion-row>
    <ion-col size="12">
      <h3>ADD ACCOUNT</h3>
    </ion-col>
    <ion-col size="12">
      <ion-input placeholder="Account Name"></ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-input placeholder="Wallet Address"></ion-input>
    </ion-col>
    <ion-col size="12">
      <button class="add-btn">
        Add
      </button>
    </ion-col>
  </ion-row>
  <div id="close" (click)="closeModal()">
    <p>Tap Anywhere To Continue</p>
     <span id="close"></span>
  </div>
</div>



