<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-img id="cbt-logo" [src]="mainLogo"></ion-img>
    <span class="bsc-logo" slot="end"></span>
    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-icon [src]="burgerMenu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header id="header-inner" [translucent]="true" slot="start">
  <ion-toolbar id="content-header">
    <h2>DASHBOARD</h2>
    <ion-img id="cbt-logo" [src]="headerBg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <ion-grid id="dashboard">
      <ion-row>
        <ion-col size="6">
          <div>
            <span>SKILL Price (USD)</span>
            <h3>{{_skillPrice}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Claimable SKILL</span>
            <h3>70.835925</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Unclaimed</span>
            <h3>139.121298</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Staked</span>
            <h3>70.835925</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>SKILL in Wallet</span>
            <h3>0.00</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>SKILL Assets</span>
            <h3>139.123445</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Accounts</span>
            <h3>20</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Characters</span>
            <h3>48</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
