<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Current SKILL Price</ion-card-subtitle>
      <ion-card-title>
        {{_skillPrice}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total Claimable SKILL</ion-card-subtitle>
      <ion-card-title>
        70.835925
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total Unclaimed SKILL</ion-card-subtitle>
      <ion-card-title>
        139.121298
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total Staked SKILL</ion-card-subtitle>
      <ion-card-title>
        0.000000
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total SKILL in Wallet</ion-card-subtitle>
      <ion-card-title>
        0.000000
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total SKILL Assets</ion-card-subtitle>
      <ion-card-title>
        139.121298
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total Accounts</ion-card-subtitle>
      <ion-card-title>
        20
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total Characters</ion-card-subtitle>
      <ion-card-title>
        48
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
