<app-header [headerTitle]="headerTitle" [subHeaderBg]="headerBg"></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="container">
    <ion-grid id="dashboard">
      <ion-row>
        <ion-col size="6">
          <div>
            <span>SKILL Price ({{_currentCurrency.toUpperCase()}})</span>
            <h3>{{_skillPrice}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Claimable SKILL</span>
            <h3>{{_skillAssets.claimable}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Unclaimed</span>
            <h3>{{_skillAssets.unclaimed}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Staked</span>
            <h3>{{_skillAssets.staked}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>SKILL in Wallet</span>
            <h3>{{_skillAssets.wallet}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>SKILL Assets</span>
            <h3>{{_skillAssets.claimable}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Accounts</span>
            <h3>{{_accounts}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <span>Total Characters</span>
            <h3>{{_characters}}</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
